body{
  text-align: center;
  background-color: rgb(224, 220, 220);
}
.header{
  color: rgb(238, 163, 176);
  font-size: 40px
}
.input-s{
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid rgb(222, 89, 127);
  width: 20em;
  height:2em;
}
.input-b{
  margin-top: 10px;
  width: 60em;
  height: 15em;
}