.App {
  text-align: center;
}
body{
background-color: #a29bfe;
  /* background: linear-gradient(to right, #ff9999, #66ccff, #66ccff, #ff9999); */
}
.text-container{
  margin-top: 2rem;
  width: 500px;
  height: 220px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  border: rgb(69, 53, 53) 0.01px solid;

}
h1{
color: #ffffff;
font-size: 40px;
}


.notes-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
ul {
  width: 1000px;
  margin-top: 1rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Eğer aralarında boşluk bırakmak istiyorsanız space-between kullanabilirsiniz. */
}

.notes-list li {
  position: relative;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  padding: 10px;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px; /* Yatay boşluklar için kullanabilirsiniz. */
  width: calc(33.333% - 10px); /* İki eleman arasındaki boşluğu düzeltmek için. */
  box-sizing: border-box; /* Padding ve border'ın genişlik ve yüksekliği içine dahil edilmesini sağlar. */
}

textarea{
  width: 450px;
  height: 156px;
  padding: 2px;
  margin-top: 5px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-bottom{
  display: flex;
  justify-content: space-between;
 
}
.colors{
  display: flex;
  cursor: pointer;

}
.text{
  font-size: large;
}
.color{
  padding-right: 4px;
  border: 1px solid;
  border-color: rgb(69, 53, 53) ;
  background-color: beige;
  margin-right: 3px;
  border-radius: 50%;
  width: 30px;
  height: 30px;

}

.blue{

  background-color: #c0fdff;
  margin-left: 3px; 
 
}
.pink{
  background-color: #ffc0cb;
  
}
.purple{
  background-color: #dcb2ff;
}
.yellow{
  background-color: #fdffb6;
  
}
.green{
  background-color: #caffbf;
 
}
button {
  border: none;
  outline: none;
  background-color: #a29bfe;
  cursor: pointer;
  width: 100px;
  padding: 6px 25px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 0.3rem;

}
@media only screen and (max-width: 600px) {
 textarea{
  width: 300px;
 }
 .text-container{
  width: 400px;
 }
 .notes-list{
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
 }
  .notes-list li{
    width: 100%
  }
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .filterInput{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
   
    
  }
 
}


.error {
  background-color: #ffffff;
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
text-align: center;
  position: fixed; 
  top: 0; 
  right: 10px; 
}
.trash {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px; 
  cursor: pointer;
}
.edit{
  position: absolute;
  top: 0;
  right: 0px;
  margin: 16px;
  cursor: pointer;
}
.search{
  
  width: 300px; 
  height: 40px; 
  border-radius: 15px; 
  border: 1px solid rgb(69, 53, 53) ;
  background-color: #ffffff; 
  margin-bottom: 1rem;
  outline: none;
  padding-left: 1rem;
}
